# Ignore specific folders and files
results-hsd-gab/resampled_data_binary21/
results-hsd-gab/resampled_data_binary31/
results-hsd-gab/resampled_data_binary_multi_11/
results-hsd-gab/resampled_data_multiclass21/
results-hsd-gab/resampled_data_multiclass31/
results-hsd-gab/test_embeddings.npy
results-hsd-gab/test_labels.npy
results-hsd-gab/train_embeddings.npy
results-hsd-gab/train_labels.npy
sing_label_data3_1/
sing_label_data2_1/
sing_label_data/
sing_label_data2_1/multiclass_ADASYN_single_label.npy
sing_label_data2_1/multiclass_SMOTE_single_label.npy
sing_label_data2_1/*.npy
sing_label_data3_1/*.npy
*.npy
*.npy
